.box_btns_navbar{
    // background-color: darkred;
    // background-color: $dash_color_tertiary;
    // border-radius: 50% 0 50% 50%;
    @include flex(column, center, center);
    position: fixed;
        right: 0;
        top: 0;
        z-index: 2000;
    $taille: 50px;
    height: $taille;
    width: $taille;
    transition: 0.3s;

    &:hover{
        // background-color: $dash_color_tertiary_opo;
        transition: 0.3s;

        i{
            color: $dash_color_tertiary;
        }
    }
    
    i{
        position: absolute;
        color: $dash_color_tertiary_opo;
        font-size: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    i.btn_close{
        display: none;
        color: white;
    }

    @include media-queries(md){
        display: none;
        height: 70px;
        width: 70px;
        cursor: pointer;
        i{
            font-size: 50px;
        }
    }
}




nav{
    // border: solid 3px red;
    width: 100%;
    height: 100vh;

    background-color: $dash_color_tertiary_opo;

    position: fixed;
        top: 0;
        left: 0;
        // right: 0;
        z-index: 1000;
    
    overflow: hidden;
    transition: ease-in-out 0.4s;

    &.close_nav{
        width: 0%;
        // height: 0;
        transition: ease-in-out 0.4s;
        background-color: transparent;
    }
    
    h3{
        // border: solid 3px white;
        color: white;
        font-size: $dash_txt_h3_size_md;
        font-weight: $dash_txt_weight_md;
        // padding: 10px;
        text-align: center;
        padding: 10px 0;
    }

    .content{
        // border: solid 3px red;
        background-color: $dash_color_tertiary;
        height: 100%;
        max-width: 300px;
        width: 300px;
        @include flex(column, flex-start, center);
    }
    
    ul{
        // border: solid 3px green;
        // height: 100%;
        width: 100%;
        flex: 1;
        display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        li{
            display: flex;
            // border: solid 3px black;
            width: 100%;
            height: 50px;
            // padding: 10px;
            a{
                @include flex(row, flex-start, center);
                // text-align: left;
                // border: solid 3px blue;
                color: white;
                height: 100%;
                width: 100%;
                padding: 10px;
                transition: 0.3s;
                font-size: $dash_txt_p_size_sm;
                font-weight: $dash_txt_weight_md;

                text-transform: capitalize;

                &:hover{
                    padding-left: 20%;
                }

                &.active{
                    background-color: #3f3f49;
                    // text-align: right;
                    // justify-content: flex-end;
                    padding-left: calc(20% - 2px);
                    border-left: solid 2px white;
                    // transition: 0.3s;
                    cursor: default;
                }
            }
        }
    }

    button{
        // border: solid 3px blue;
        width: 100%;
        height: 40px;
        // background-color: $dash_color_secondary;
        color: white;
        font-size: $dash_txt_p_size_sm;
        font-weight: $dash_txt_weight_md;
        text-transform: capitalize;
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            background-color: #3f3f49;
        }
    }


    @include media-queries(md){
        // border: solid 3px red;
        width: inherit;
        background-color: $dash_color_tertiary;
        position: sticky;
        // height: 100vh;

        &.close_nav{
            width: inherit;
            // height: 0;
            // transition: ease-in-out 0.4s;
            // background-color: transparent;
        }
        
        h3{
            font-size: $dash_txt_h3_size_lg;
            font-weight: $dash_txt_weight_md;
            padding: 20px 0; 
        }
        .content{
            width: 200px;
        }
    }
}