.box_btns_navbar{
    @include flex(column, center, center);
    position: fixed;
        right: 0;
        top: 0;
        z-index: 2000;
    $taille: 50px;
    height: $taille;
    width: $taille;
    transition: 0.3s;

    &:hover{
        transition: 0.3s;

        i{
            color: $bck_color_secondary;
        }
    }
    
    i{
        color: $txt_color_primary;
        position: absolute;
        font-size: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    i.btn_close{
        display: none;
        color: $txt_color_primary;

        &:hover{
            color: $bck_color_secondary;
        }
    }

    @include media-queries(md){
        display: none;
        height: 70px;
        width: 70px;
        cursor: pointer;
        i{
            font-size: 50px;
        }
    }
}




nav{
    width: 100%;
    height: 100vh;
    @extend .glassmorphism;

    position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    
    overflow: hidden;
    transition: ease-in-out 0.4s;

    &.close_nav{
        width: 0%;
        transition: ease-in-out 0.4s;
        background-color: transparent;
    }
    
    h3{
        font-size: $txt_size_lg;
        font-weight: $txt_weight_md;
        text-align: center;
        padding: 10px 0;
    }

    .content{
        background-color: white;
        height: 100%;
        max-width: 300px;
        width: 300px;
        @include flex(column, flex-start, center);
    }
    
    ul{
        width: 100%;
        flex: 1;
        display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        li{
            display: flex;
            width: 100%;
            
            a{
                @include flex(row, flex-start, center);
                color: $txt_color_primary;
                height: 100%;
                width: 100%;
                padding: 10px;
                transition: 0.3s;
                font-size: $txt_size_sm;
                font-weight: $txt_weight_md;

                text-transform: capitalize;

                &:hover{
                    padding-left: 20%;
                }

                &.active{
                    color: $txt_color_secondary;
                    background-color: $bck_color_primary_op;
                    padding-left: calc(20% - 2px);
                    cursor: default;
                }
            }
        }
    }

    button{
        width: 100%;
        height: 40px;
        color: $txt_color_primary;
        font-size: $txt_size_sm;
        font-weight: $txt_weight_md;
        text-transform: capitalize;
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            background-color: $bck_color_primary_op;
            color: $txt_color_secondary;
        }
    }


    @include media-queries(md){
        background-color: transparent;
        width: inherit;
        position: sticky;

        &.close_nav{
            width: inherit;
        }
        
        h3{
            padding: 20px 0; 
        }
        .content{
            width: 200px;
        }
    }
}