*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // scroll-behavior: smooth;
    // transition: 0.2s;
    letter-spacing: 1px;
    font-family: "Roboto" ;
}

.container{
    // border: solid 1px red;
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

i{
    font-size: inherit;
    color: inherit;
}

button{
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// /* SCROLLBAR */
::-webkit-scrollbar{
    // background-color: red;
    pointer-events: visible;
    // width: 10px;
    // height: 5px;
}
// ::-webkit-scrollbar-track {
    // border-radius: 10px;
// }
::-webkit-scrollbar-thumb {
    background-color: $color_tertiary;
    // border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    // background-color: rgb(50, 50, 50);
    background-color: $color_secondary;
    
    // afficher le poiteur de la souris
    cursor:grab;
}
::-webkit-scrollbar-thumb:active {
    // background-color: darkblue;
    
    // afficher le poiteur de la souris
    cursor:grabbing;
}
