.box_content_settings{
    // border: solid 3px red;
    @include flex(column, flex-start, flex-start);

    .btn_new_add{
        align-self: flex-end;
        padding: 2px 4px;
        cursor: pointer;
        background-color: $dash_color_tertiary;
        color: white;
        border-radius: calc($dash_padding_sm / 2) calc($dash_padding_sm / 2) 0 0;
        font-size: calc($dash_txt_h3_size_sm - 5px);

        &:hover{
            background-color: $dash_color_senary;
        }
    }

    .list_head_links{
        // border: solid 3px red;
        background-color: white;
        width: 100%;
        @include flex(row, flex-start, center);
        border-radius: calc($dash_padding_sm / 2);
        height: 80px;
        margin-bottom: $dash_padding_sm;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

        h3{
            padding: $dash_padding_sm;
            font-size: $dash_txt_h3_size_sm;
        }

        ul{
            @include flex(row, flex-start, center);
            flex-wrap: wrap;
            gap: $dash_padding_sm;

            li{
                padding: $dash_padding_sm;
                cursor: pointer;
            }
        }
    }

    .list_datas{
        // border: solid 3px red;
        background-color: white;
        width: 100%;
        border-radius: calc($dash_padding_sm / 2);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        overflow: hidden;

        table{
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;

            thead{
                background-color: $dash_color_primary_opo;
                font-size: $dash_txt_p_size_sm;
                font-weight: $dash_txt_weight_md;
                text-transform: uppercase;
                letter-spacing: 0px;
                width: 100%;

                th{
                    padding: $dash_padding_sm;
                    border-bottom: solid 1px $dash_color_quitenary;
                    text-align: left;
                }
            }

            tbody{
                tr{
                    border-bottom: solid 1px $dash_color_senary;

                    td{
                        padding: $dash_padding_sm;
                        font-size: $dash_txt_p_size_sm;
                    }

                    .actions{
                        @include flex(row, center, center);
                        gap: $dash_padding_sm;
                        i{
                            font-size: $dash_txt_h3_size_sm;
                        }
                    }
                }

                tr:last-child{
                    border-bottom: none;
                }   
            }
        }
    }
}


