#website_bloc{
    font-family: "Poppins", sans-serif;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @import '../../components/header-component/header-component-style';
    @import '../../components/hero-component/hero-component-style';
    @import '../../components/about-component/about-component-style';
    @import '../../components/gallery-component/gallery-component-style';
    @import '../../components/popup-component/popup-component-style';
    @import '../../components/menus-component/menus-component-style';
    @import '../../components/btns-component/btns-component-style';
    @import '../../components/timetable-component/timetable-component-style';
    @import '../../components/gallery-local-component/gallery-local-component-style';
    @import '../../components/location-component/location-component-style';
    @import '../../components/footer-component/footer-component-style';

    #content_bloc{

        // #main_bloc{
            // border: solid 3px blue;
            // min-height: 100vh;
        // }

        .bloc_after_hero{
            background-color: $color-primary;
            position: relative;
            z-index: 2;
        }

        section{
            // border: solid 3px green;
            min-height: 25vh;
        }
    }
}







