.hero_component{
    // border: solid 3px red;
    height: 60vh;
    background-color: $color_secondary_opo;
    background-position: center 60%;
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;

    position: sticky;
        top: 0;
        // z-index: 1;

    
    .block_shadow{
        background-color: rgb(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;

        .container{
            // border: solid 3px green;
            width: 100%;
            height: 100%;
            // flex: 1;
            @include flex(column, center, center);
            gap: $padding_sm;
            padding: 0 $padding_sm;
            line-height: 1.2;

            .text{
                // border: solid 3px blue;
                @include flex(column, center, center);
                text-transform: uppercase;
                // height: 100%;
                h1{
                    // font-family: "Sarpanch", sans-serif;
                    font-weight: $txt_weight_md;
                    // font-style: normal;
                    font-size: min(80px,7vw);
                    text-align: center;
                    color: $color_primary;
                }
            }

            .btn_ubereats{
                // flex: 1;
                
                // border: solid 3px red;
                // width: 100%;
                @include flex(row, center, center);
                gap: $padding_sm;
                // flex: 1;
                // position: fixed;
                //     bottom: 0;
                //     right: 0;
                //     left: 0;
            
                text-align: right;
                // padding: 50px 0 0;
            
                // button{
                //     background-color: rgb(0, 0, 0, 0.2);
                //     backdrop-filter: blur(10px);
                //     // background-color: $color_secondary_opo;
                //     padding: $padding_sm;
                //     border: solid 1px $color_primary;
                //     border-radius: $border_radius_sm;
                //     color: $color_primary;
                // }
            }
        }
    }

    

    @include media-queries(md){
        height: 90vh;

        .block_shadow{
            .container{
                @include flex(column, center, flex-start);
                gap: $padding_md;
                padding: 0 $padding_md;

                .text{
                    line-height: 1;
                    h1{
                        text-align: left;
                        font-size: min(90px, 7vw);
                    }
                }
            }
        }

        
    }
}