
$bck_color: #ececec;
$bck_color_op: rgba(236, 236, 236, 0.3);
$bck_color_primary: rgb(144, 238, 144);
$bck_color_primary_op: rgba(144, 238, 144, 0.3);
$bck_color_secondary: orange;
$bck_color_secondary_op: rgba(255, 166, 0, 0.3);
$bck_color_tertiary: darkgreen;
$bck_color_tertiary_op: rgba(0, 100, 0, 0.3);

$txt_color_primary: darkgreen;
$txt_color_secondary: orange;
$txt_color_tertiary: white;

$txt_size_mini: 12px;
$txt_size_sm: 14px;
$txt_size_md: 16px;
$txt_size_lg: 24px;

$txt_weight_sm: 100;
$txt_weight_md: 400;
$txt_weight_lg: 900;

$padding_sm: 10px;
$padding_md: 20px;
$padding_lg: 30px;


// $color_thumb: $bck_color_tertiary;
// $color_thumb_hover: $bck_color_secondary;